

#sketchBody {
    /*display: flex;
    justify-content: center;*/
    display: inline-grid;
    /*grid-template-columns: repeat(8, 1fr); */
    width: 800px;
    height: 800px;
    grid-gap: 0px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
}

#resetBtn {
    padding: 20px 70px;
    background-color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
}

#resetBtn:hover {
    background-color: orangered;
    cursor: pointer;
}

#mainContent {
    display: flex;
    justify-content: space-evenly;
}

#toolBar {
    border-style: solid;
    border-color: black;
    border-width: 10px;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    width: 200px;
    height: 180px;
    grid-gap: 0px;
}

.toolBarColor {
    border: 1px solid black;
}

.toolBarColor:hover {
    border: 1px solid lightblue;
}

.activeToolBarColor {
    border: 1px solid lightblue;
}

.gridSquare:hover, .toolBarColor:hover {  
    cursor: pointer;
} 

body {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}